First Assignment

In [1]:
#1.Write code to reverse a string
s = "abcdefhijklmnop"
s=s[::-1]
s

'ponmlkjihfedcba'

In [3]:
# 2.Write a code to count the number of vowels in a string
s = "hi cherry how are you?"
vow = "aeiouAEIOU"
def vowelcount(s):
    c=0
    for i in s:
        if i in vow:
            c=c+1
    return c
print(vowelcount(s))

7

In [4]:
# 3.write a code to check if the given string is palindrome or not
s = "pop"
r = s[::-1]
if(r==s):
    print("string is a palindrome")
else:
    print("string is not a palindrome")

string is a palindrome

In [6]:
# 4.write a code to check if two  given strings are anagrams of each other or not
s = ["start"]
s2 = ["taste"]
if(sorted(s)==sorted(s2)):
    print("they are anagrams")
else:
    print(" they are not anagrams")

 they are not anagrams

In [7]:
# 5.Write a code to find all occurrences of a given substring within another string.

In [18]:
# 6.Write a code to perform basic string compression using the counts of repeated characters.
s = "aaaaaaaaf"
c=1
s1 = ""
for i in range(len(s)):
    if( i<len(s)-1 and s[i]==s[i+1]):
        c+=1
    else:
        s1+=s[i]+str(c)
        c=1
if len(s1)<len(s):
    print(s1)
else:
    print(s)

a8f1

In [24]:
# 7. Write a code to determine if a string has all unique characters.
s = "sri charitha"
set1 = set(s)
if len(set1)<len(s):
    print(f"given string '{s}' dont have not unique characters")
else:
    print(f"string  '{s}' have  unique characters unique")

given string 'sri charitha' dont have not unique characters

In [27]:
# 8. Write a code to convert a given string to uppercase or lowercase.
s = "sri Charitha"
print(s.upper())
print(s.lower())

SRI CHARITHA
sri charitha

In [29]:
# 9. Write a code to count the number of words in a string.
s = "hello everyone i am charitha"
print(len(s.split()))

5

In [31]:
# 10.Write a code to concatenate two strings without using the + operator.
s = "sri"
s1= "charitha"
separator = " "
s2 = separator.join([s,s1])
print(s2)

sri charitha

In [38]:
# 11.Write a code to remove all occurrences of a specific element from a list.
def remove(s,ele):
    return (i for i in s if i!=ele)
s = [1,2,3,4,5,6,6,7,6,8,9,6,4,5]
ele = 6
lis = []
lis +=remove(s,ele)
print(lis)

[1, 2, 3, 4, 5, 7, 8, 9, 4, 5]

In [42]:
# 12.Implement a code to find the second largest number in a given list of integers.
s = [23,45,67,87,65,43,12,345,321,3456,7890]
s.sort(reverse=1)
s[1]

3456

In [43]:
# 13.Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.
lis = [1,2,3,4,6,7,5,7,8,5,3,5,6,7]
list1 = {i:lis.count(i) for i in set(lis)}
print(list1)

{1: 1, 2: 1, 3: 2, 4: 1, 5: 3, 6: 2, 7: 3, 8: 1}

In [44]:
#14.Write a code to reverse a list in-place without using any built-in reverse functions.
lis = [1,2,3,4,5,6,7]
n = len(lis)
for i in range(n//2):
    lis[i],lis[n-i-1]=lis[n-i-1],lis[i]
print(lis)

[7, 6, 5, 4, 3, 2, 1]

In [47]:
# 15.Implement a code to find and remove duplicates from a list while preserving the original order of elements.
lis = [11,11,11,23,34,55,77,77,77,89,56]
lis=set(lis)
lis

{11, 23, 34, 55, 56, 77, 89}

In [49]:
# 16.Create a code to check if a given list is sorted (either in ascending or descending order) or not.
lis = [1,4,56,78,33,98,67,45]
if lis==lis.sort():
    print(f"list {lis} is sorted")
else:
    print(f"The list {lis} is not sorted")

The list [1, 4, 33, 45, 56, 67, 78, 98] is not sorted

In [54]:
# 17.Write a code to merge two sorted lists into a single sorted list.
lis = [23,45,67,87,65,3,8,9,7]
lis1 = [34,54,56,76,43,32]
lis2=lis+lis1
lis2.sort()
lis2

[3, 7, 8, 9, 23, 32, 34, 43, 45, 54, 56, 65, 67, 76, 87]

In [56]:
#18.Implement a code to find the intersection of two given lists.
lis1 = [1,2,3,4,5]
lis2= [1,3,5,6,7]
lis3 = set(lis1) & set(lis2)
print(list(lis3))

[1, 3, 5]

In [57]:
#19. Create a code to find the union of two lists without duplicates.
lis1=[1,2,3,4,5]
lis2=[1,3,5,6,7]
lis3 = set(lis1) | set(lis2)
print(list(lis3))

[1, 2, 3, 4, 5, 6, 7]

In [1]:
#20.Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [16]:
# 21.Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.
t1 = input('enter tuple one')
t2 = input('enter tuple two')
t1 = eval(t1)
t2 = eval(t2)
result = tuple( set(t1) & set(t2) )
print(result)

enter tuple one 1,2,3
enter tuple two 3,2,5

(2, 3)

In [9]:
# 22.Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.
set1_input = input("Enter the first set of integers separated by commas: ")
set1 = set(map(int, set1_input.split(',')))
set2_input = input("Enter the second set of integers separated by commas: ")
set2 = set(map(int, set2_input.split(',')))
intersection = set1.intersection(set2)
print("Intersection of the two sets:", intersection)

Enter the first set of integers separated by commas:  1,2,3,4,5,6
Enter the second set of integers separated by commas:  3,4,5,6,7,8

Intersection of the two sets: {3, 4, 5, 6}

In [14]:
# 23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.
t1 = input('enter tuple one')
t2 = input('enter tuple two')
t1 = eval(t1)
t2 = eval(t2)
t = (t1+t2)
t

enter tuple one 1,2,34
enter tuple two 5,6,7

(1, 2, 34, 5, 6, 7)

In [17]:
# 24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.
set1_input = input("Enter the first set of strings separated by commas: ")
set1 = set(set1_input.split(','))
set2_input = input("Enter the second set of strings separated by commas: ")
set2 = set(set2_input.split(','))
difference = set1 - set2
difference

Enter the first set of strings separated by commas:  banana,apple,cherry,strawberry
Enter the second set of strings separated by commas:  banana,apple,strawberry

{'cherry'}

In [20]:
# 25.Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.
def specified_range(t1,start,end):
 if start < 0 or end >= len(t1) or start>end:
    return None
 else:
        t2=t1[start:end+1]
 return t2
t1=(1,2,3,4,5,6,7,8,9)
start=3
end=8
result=specified_range(t1,start,end)
result

(4, 5, 6, 7, 8, 9)

In [ ]:
# 26.